h1 {
    text-align: center;
}

img {
    height: 300px;
}

div {
    text-align: center;
    padding: 10px;
}

input {
    margin: 5px;
}

.correct {
    border-color: green;
}

.wrong {
    border-color: red;
}
